.contacts_main {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right top,
        #041d3d70,
        #041d3dec
      ),
      url("../../../public/contacts.webp");
    background-size: cover;
    background-position: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  
  .contact_item {
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 250px;
  }

  .contact_img {
    width: 60px;
    filter: invert(100%);
  }

  .contact_text {
    font-size: 18px;
    margin-top: 18px;
  }

  .contact_item:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  .contact_a {
    text-decoration: none;
    color: #ffffff;
  }

  @media only screen and (max-width: 900px) {
    .contacts_main {
      height: 30vh;
    }

    .contact_img {
      width: 40px;
    }
  
    .contact_text {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 650px) {
    .contacts_main {
      height: 20vh;
    }

    .contact_img {
      width: 20px;
    }
  
    .contact_text {
      font-size: 12px;
    }

      
  .contact_item {
   height: 50px;
  }

  }