.header_main {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #021d40;
  padding: 0 300px 0 300px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.image {
  width: 200px;
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.link {
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid #ffffff;
}

.hero_main {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 300px 0 300px;
  background-image: linear-gradient(
    to right top,
    rgba(24, 81, 106, 0.573),
    rgba(248, 249, 247, 0)
  ),
  url("../public/hero.webp");
background-size: cover;
background-position: top;
animation: scaleDown 10s ease-in-out;
}

@keyframes scaleDown {
0% {
    background-size: 115%;
}
100% {
    background-size: 100%;
}
}

.hero_content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 70vw;
  margin-bottom: 50px;
  padding: 0;
}

.hero_title {
  font-size: 32px;
  color:#ffffff;
  width: 500px;
}

.hero_text {
  margin-top: 30px;
  font-size: 18px;
  /* font-weight: 600; */
  color: #ffffff;
  width: 500px;
  line-height: 35px;
}

.span {
 
}